.chart {
  color: black;
  width: 75vw;
  background: rgb(var(--color-surface-mixed-600));
  border-radius: 2rem/6rem;
  padding: 2rem;
  margin: 1rem;
}

.chart .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart .header .actions {

}

.chart ul li {
  margin-left: 1rem;
}

.chart a {
  color: rgb(var(--color-primary-100));
  text-decoration: underline;
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.timeline {
  min-height: 400px;
}

@media (max-width: 700px) {
  .chart {
    width: 90vw;
  }
}

@media (max-width: 1120px) {
  .chart {
    width: 90vw;
    padding: 1em;
  }
}
