
.chart {
  color: black;
  width: 75vw;
  min-height: 400px;
  background: rgb(var(--color-surface-mixed-600));
  border-radius: 2rem/6rem;
  padding: 2rem;
  margin: 1rem;
}

.uploadInfo > button {
  color: rgb(var(--color-surface-mixed-100));
  background: rgb(var(--color-primary-100));
  border: 2px solid rgb(var(--color-surface-mixed-100));
}

.uploadInfo {
  min-height: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (orientation: portrait) {
  .timelines::before {
    content: "These graphs are best viewed in landscape orientation";
    display: block;
    color: black;
    width: 75vw;
    background: rgb(var(--color-surface-mixed-600));
    border-radius: 2rem/6rem;
    padding: 2rem;
    margin: 1rem;
  }
}

.chart-list {
  margin: 2rem;
}

.placeholder {
  height: 30rem;
  display: grid;
  place-items: center;
}
