
.chart {
  color: black;
  width: 75vw;
  background: rgb(var(--color-surface-mixed-600));
  border-radius: 2rem/6rem;
  padding: 2rem;
  margin: 1rem;
}

.chart .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart .header .actions {

}

.chart ul li {
  margin-left: 1rem;
}

.chart a {
  color:rgb(var(--color-primary-100));
  text-decoration: underline;
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.timeline {
  min-height: 400px;
}

.uploadInfo > button {
  color: rgb(var(--color-surface-mixed-100));
  background: rgb(var(--color-primary-100));
  border: 2px solid rgb(var(--color-surface-mixed-100));
}

.uploadInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (orientation: portrait) {
  .timelines::before {
    content: "These graphs are best viewed in landscape orientation";
    display: block;
    color: black;
    width: 75vw;
    background: rgb(var(--color-surface-mixed-600));
    border-radius: 2rem/6rem;
    padding: 2rem;
    margin: 1rem;
  }
}

.chart-list {
  margin: 2rem;
}

.placeholder {
  height: 30rem;
  display: grid;
  place-items: center;
}
